

.form-container{
    margin: 1%;
}

.form-container label{
    font-size: 1rem;
}

.form-container input[type="text"] {
    border: 1px solid rgb(51, 51, 51, 0.7);
    border-radius: 3px;
    font-size: 0.8rem;
    padding: 2% 3%;
}

.form-container input[type="tel"] {
    border: 0.01px solid rgb(51, 51, 51, 0.7);
    border-radius: 3px;
    font-size: 0.8rem;
    padding: 1% 2%;
}

.form-container input[type="date"] {
    border: 0.01px solid rgb(51, 51, 51, 0.7);
    border-radius: 3px;
    font-size: 1rem;
    padding: 2% 5%;
}

.form-container input[type="submit"] {
    font-family: var(--font-serif);
    background-color: var(--clr-mainY);
    border: 0px solid;
    padding: 2% 5%;
    font-size: 1.2rem;    
}

.form-container input[type="button"] {
    font-family: var(--font-serif);
    background-color: var(--clr-mainY);
    border: 0px solid;
    padding: 2% 5%;
    font-size: 1.2rem;    
}

.form-container input[type="submit"]:hover{    
    color: var(--clr-light);
    background-color: var(--clr-dark);
    transition: 150ms ease-in-out;
}

.form-container input[type="button"]:hover{    
    color: var(--clr-light);
    background-color: var(--clr-dark);
    transition: 150ms ease-in-out;
}


#b-rooms{
    font-family: var(--font-sans-serif);
    font-size: 1rem;
    padding: 1% 2%;
    border-radius: 3px;
}

.b-rooms-img-container img{
    border: 2px solid rgb(51, 51, 51, 0.7);
    border-radius: 5px;
    width: 200px;
    height: 100px;
    object-fit: cover;
}
