:root{
    --clr-dark: #333333;
    --clr-semidark:#595959;
    --clr-lightB: #ffffff;
    --clr-light: #f3f3f3;
    --clr-semilight: #b3b3b3;
    --clr-mainY:#DBBD5C;
    --clr-mainYtp: rgb(219, 189, 92,0.9);
    --clr-main: #78968D;
    --clr-sec:#5D80D1;

    --font-serif:'Lora', serif;
    --font-sans-serif:'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--font-sans-serif);
    font-weight: 400;
    font-size: 1.5rem;
}

.navbar {
    position: sticky;
    background-color: transparent;
    height: 72px;
    margin-top: 0px;
    top: 0;
    z-index: 500;
}

.navbar.solid {
    background-color: var(--clr-mainYtp);
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper1{
    max-width: 900px;
    margin: 0 auto;
}
.wrapper2{
    max-width: 700px;
    margin: 0 auto;
}
.flexer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flexer1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 72px;
}

nav ul{
    display: flex;
}

.logo {
    color: var(--clr-light);
    font-size: 100%;
}

.check-out {
    margin-left: -10%;
}

.nav-items li {
    list-style: none;
    margin-right: 50px;
    font-size: 0.70em;
}

.nav-items li:nth-last-of-type(1) {
    margin: 0;
}

.nav-items li a{
    color: var(--clr-light);
    text-decoration: none;
}

.nav-items.solid li a{
    color: var(--clr-dark);
    text-decoration: none;
}

.nav-items li a:hover{
    color: var(--clr-dark);
}

/* dropdown */
.dropdown-content {
    margin-top: -0.3%;
    display: none;
    position: absolute;
    background-color: var(--clr-dark);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a{
    font-size: 1rem;
    text-decoration: none;
    padding: 12px 20px;
    display: block;
}

#dselc:hover{
    color: var(--clr-mainY);
}

.dropdown-content:hover{
    display: block;
}


.nav-items li a:hover ~ .dropdown-content {
    display: block;
}
.menuToggle{
    display: none;
    cursor: pointer;
}

.mini-dropdown{
    display: none;
    position: absolute;
    top: 90%;
    background-color:var(--clr-dark);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.mini-dropdown a{
    color: var(--clr-light);
    font-size: 1rem;
    text-decoration: none;
    padding: 12px 200px;
    display: block;
}

.mini-dropdown a:hover{
    color: var(--clr-mainY);
}

.footer{
    position:static;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 3%;
    padding-top: 2%;
    background-color: var(--clr-brightlight);
    height: 230px;
}

.ft-info h4{
    color: var(--clr-dark);
}

.footer1-items{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

#email-form{
    align-items: center;
}
#type-email{
    font-family: var(--font-sans-serif);
    border: none;
}
#submit-email{
    font-family: var(--font-sans-serif);
    background-color: var(--clr-dark);
    color: var(--clr-light);
    font-size: 0.7rem;
    letter-spacing: 1px;
    padding-left: 5%;
    padding-right: 5%;
    height: 26px;
    border: none;
    opacity: 0.7;
    transition: 300ms ease-in-out;
}
#submit-email:hover{
    background-color: var(--clr-mainYtp);
    border: none;
}
#submit-email:active{
    background-color: var(--clr-mainYtp);
}

.social-media-container{margin-top: 2%;}
.social-media-container img{
    height: 40px;
    width: 40px;
    object-fit: cover;
}
.social-media-container p{
    margin-top: 0.5%;
    font-size: 0.8rem;
    opacity: 0.7;
}

.scm-container{
    margin-top: 5%;
    margin-left: 8%;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sm{margin-right: 10%;}
.sm:hover {filter: invert(99%) sepia(89%) saturate(1374%) hue-rotate(323deg) brightness(89%) contrast(91%);}

.news-container{margin-top: 1%;}
.news-container h3{
    color: var(--clr-dark);
}
.news-container p{
    margin-top: 0.5%;
    font-size: 0.8rem;
    opacity: 0.7;
}


.ft-logo{
    color: var(--clr-light);
    margin-top: 2%;

}
.ft-logo img{
    width: 80%;
    filter: brightness(15%);
}

.ft-desc{
    margin-top: 2%;
    font-size: 1rem;
}

.ft-info h4{
    color: var(--clr-dark);
    font-size: 1.5rem;
    opacity: 0.9;
}
.ft-info p{
    font-size: 0.8rem;
    opacity: 0.8;
}

.footer-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
}

.copyright-container{
    margin-top: 2%;
    color: var(--clr-mainY);
    background-color: var(--clr-dark);
}

.copyright{
    align-self: center;
}
.copyright p{
    text-align: center;
    margin-top: 1%;
    font-size: 0.8rem;
}

@media(max-width: 1024px){

    .nav-items{
        display: none;
    }

    .menuToggle {
        background-image: url(../img/btn-menu-white.svg);
        background-size:cover;
        display: block;
        position: relative;
        top: 1%;
        width: 20px;
        height: 20px;
        transition: 300ms ease-in-out;
    }
    .menuToggle.active{
        background-image: url(../img/close-white.svg);
        background-color: transparent;
        background-size: cover;
        position: relative;
        width: 20px;
        height: 20px;
    }
    .menuToggle.active ~ .mini-dropdown{
        display: block;
    }
}

@media(max-width:375px){
    .logo {
        font-size: 50%;
    }
}
